body{
    background-color: black;
    align-items: center;
    font-size: larger;
    font-weight: 300;
    color: rgb(255, 255, 255);
}
.wrapper{
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: gray;
    height: 500px;
    width: 800px;
    border-radius: 10px;
    margin: auto;
    margin-top: 100px;
}
#lab{
   font-size: xx-large;
   font-weight: 700;
   color: rgb(0, 0, 0);

}
.guessField{
    height: 50px;
    width: 200px;
    margin: 20px;
}
#sub{
    background-color: black;
    color: white;
    border-radius: 20px;
    border : 10px solid gray;
    height: 60px ;
    width: 180px;
}